/* --------------------------------------------- */
/* --------------------------------------------- */
/* Footer */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* Footer */
/* --------------------------------------------- */

.footer-content {
    font-family: Arial, serif;
    color: #656565;
    font-size: 13px;

    a {
        color: #0075d0;
    }
}

/* --------------------------------------------- */
/* Footer */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* --------------------------------------------- */
