/* --------------------------------------------- */
/* --------------------------------------------- */
/* Footer */
/* --------------------------------------------- */
/*
.bg-sect-2 {
    min-height: 1231px;
}
.info-site {
    background-color: white;
    
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-bottom: 1px solid black;
}
.info-site__nav {
    min-height: 30px;
    background-color: black;

    border-right: 1px solid black;
    border-left: 1px solid black;
}
*/
/* --------------------------------------------- 
/* Footer */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Footer */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
